p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 45px;
    font-style: oblique;
    font-size: 150%;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    

  }

  .section_title {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 200px;
    color: yellow;
    font-size: 215%;

  }

  body{
      background-color: black;

  }

  ul, header {
      color: yellow;

  }

  h1{
      margin-left: 25%;
      font-size: 400%
  }

  h3, h4{
      color: yellow;
      font-style: bold;
      font-weight: bolder;
      font-size: 155%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding-bottom: 15px;
  }

  #header_h2{
    margin-left: 31%;
    font-size: 100%
  }

  div{
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .navigation{
      color: yellow;
  }

  #image{
    height: 10px;
      width: 25%;
    }